@import "tailwindcss";

:root {
  --background: oklch(1.0000 0 0);
  --foreground: oklch(0.2333 0.0613 258.7221);
  --card: oklch(1.0000 0 0);
  --card-foreground: oklch(0.2333 0.0613 258.7221);
  --popover: oklch(1.0000 0 0);
  --popover-foreground: oklch(0.2333 0.0613 258.7221);
  --primary: oklch(0.7737 0.1629 60.2762);
  --primary-foreground: oklch(1.0000 0 0);
  --secondary: oklch(0.3644 0.0963 258.9115);
  --secondary-foreground: oklch(1.0000 0 0);
  --muted: oklch(0.9751 0.0127 244.2507);
  --muted-foreground: oklch(0.5653 0.0649 254.9780);
  --accent: oklch(0.7892 0.1260 103.8172);
  --accent-foreground: oklch(0.2333 0.0613 258.7221);
  --destructive: oklch(0.5771 0.2152 27.3250);
  --destructive-foreground: oklch(1.0000 0 0);
  --border: oklch(0.9238 0.0093 232.3718);
  --input: oklch(0.9720 0.0062 255.4748);
  --ring: oklch(0.7737 0.1629 60.2762);
  --chart-1: oklch(0.7737 0.1629 60.2762);
  --chart-2: oklch(0.3644 0.0963 258.9115);
  --chart-3: oklch(0.7185 0.1417 144.8887);
  --chart-4: oklch(0.8707 0.1325 82.7366);
  --chart-5: oklch(0.7902 0.1401 226.1669);
  --sidebar: oklch(1.0000 0 0);
  --sidebar-foreground: oklch(0.2333 0.0613 258.7221);
  --sidebar-primary: oklch(0.7737 0.1629 60.2762);
  --sidebar-primary-foreground: oklch(1.0000 0 0);
  --sidebar-accent: oklch(0.7185 0.1417 144.8887);
  --sidebar-accent-foreground: oklch(0.2333 0.0613 258.7221);
  --sidebar-border: oklch(0.9238 0.0093 232.3718);
  --sidebar-ring: oklch(0.7737 0.1629 60.2762);
  --font-sans: var(--font-poppins), "Poppins", sans-serif;
  --font-serif: var(--font-playfair-display), "Playfair Display", serif;
  --font-mono: var(--font-jetbrains-mono), "JetBrains Mono", monospace;
  --radius: 0.5rem;
  --shadow-x: 0px;
  --shadow-y: 4px;
  --shadow-blur: 8px;
  --shadow-spread: 0px;
  --shadow-opacity: 0.05;
  --shadow-color: 0 0 0;
  --shadow-2xs: 0px 4px 8px 0px hsl(0 0 0 / 0.03);
  --shadow-xs: 0px 4px 8px 0px hsl(0 0 0 / 0.03);
  --shadow-sm: 0px 4px 8px 0px hsl(0 0 0 / 0.05), 0px 1px 2px -1px hsl(0 0 0 / 0.05);
  --shadow: 0px 4px 8px 0px hsl(0 0 0 / 0.05), 0px 1px 2px -1px hsl(0 0 0 / 0.05);
  --shadow-md: 0px 4px 8px 0px hsl(0 0 0 / 0.05), 0px 2px 4px -1px hsl(0 0 0 / 0.05);
  --shadow-lg: 0px 4px 8px 0px hsl(0 0 0 / 0.05), 0px 4px 6px -1px hsl(0 0 0 / 0.05);
  --shadow-xl: 0px 4px 8px 0px hsl(0 0 0 / 0.05), 0px 8px 10px -1px hsl(0 0 0 / 0.05);
  --shadow-2xl: 0px 4px 8px 0px hsl(0 0 0 / 0.13);
  --tracking-normal: 0em;
  --spacing: 0.25rem;
}

.dark {
  --background: oklch(0.2077 0.0398 265.7549);
  --foreground: oklch(0.9288 0.0126 255.5078);
  --card: oklch(0.2795 0.0368 260.0310);
  --card-foreground: oklch(0.9288 0.0126 255.5078);
  --popover: oklch(0.2795 0.0368 260.0310);
  --popover-foreground: oklch(0.9288 0.0126 255.5078);
  --primary: oklch(0.8222 0.1290 63.9547);
  --primary-foreground: oklch(0.2513 0.0398 75.2293);
  --secondary: oklch(0.5080 0.1086 259.3016);
  --secondary-foreground: oklch(1.0000 0 0);
  --muted: oklch(0.3458 0.0393 258.8465);
  --muted-foreground: oklch(0.7604 0.0417 255.3312);
  --accent: oklch(0.7660 0.1179 145.2950);
  --accent-foreground: oklch(0.2077 0.0398 265.7549);
  --destructive: oklch(0.6368 0.2078 25.3313);
  --destructive-foreground: oklch(1.0000 0 0);
  --border: oklch(0.4206 0.0563 258.2996);
  --input: oklch(0.3390 0.0448 260.1062);
  --ring: oklch(0.8222 0.1290 63.9547);
  --chart-1: oklch(0.8222 0.1290 63.9547);
  --chart-2: oklch(0.5080 0.1086 259.3016);
  --chart-3: oklch(0.7660 0.1179 145.2950);
  --chart-4: oklch(0.9034 0.0893 79.4615);
  --chart-5: oklch(0.8488 0.1164 217.1461);
  --sidebar: oklch(0.2606 0.0387 262.6828);
  --sidebar-foreground: oklch(0.9288 0.0126 255.5078);
  --sidebar-primary: oklch(0.8222 0.1290 63.9547);
  --sidebar-primary-foreground: oklch(0.2513 0.0398 75.2293);
  --sidebar-accent: oklch(0.7660 0.1179 145.2950);
  --sidebar-accent-foreground: oklch(0.2606 0.0387 262.6828);
  --sidebar-border: oklch(0.4206 0.0563 258.2996);
  --sidebar-ring: oklch(0.8222 0.1290 63.9547);
  --font-sans: var(--font-poppins), "Poppins", sans-serif;
  --font-serif: var(--font-playfair-display), "Playfair Display", serif;
  --font-mono: var(--font-jetbrains-mono), "JetBrains Mono", monospace;
  --radius: 0.5rem;
  --shadow-x: 0px;
  --shadow-y: 6px;
  --shadow-blur: 12px;
  --shadow-spread: -3px;
  --shadow-opacity: 0.3;
  --shadow-color: 0 0 0;
  --shadow-2xs: 0px 6px 12px -3px hsl(0 0 0 / 0.15);
  --shadow-xs: 0px 6px 12px -3px hsl(0 0 0 / 0.15);
  --shadow-sm: 0px 6px 12px -3px hsl(0 0 0 / 0.30), 0px 1px 2px -4px hsl(0 0 0 / 0.30);
  --shadow: 0px 6px 12px -3px hsl(0 0 0 / 0.30), 0px 1px 2px -4px hsl(0 0 0 / 0.30);
  --shadow-md: 0px 6px 12px -3px hsl(0 0 0 / 0.30), 0px 2px 4px -4px hsl(0 0 0 / 0.30);
  --shadow-lg: 0px 6px 12px -3px hsl(0 0 0 / 0.30), 0px 4px 6px -4px hsl(0 0 0 / 0.30);
  --shadow-xl: 0px 6px 12px -3px hsl(0 0 0 / 0.30), 0px 8px 10px -4px hsl(0 0 0 / 0.30);
  --shadow-2xl: 0px 6px 12px -3px hsl(0 0 0 / 0.75);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-destructive-foreground: var(--destructive-foreground);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);

  --font-sans: var(--font-sans);
  --font-mono: var(--font-mono);
  --font-serif: var(--font-serif);

  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);

  --shadow-2xs: var(--shadow-2xs);
  --shadow-xs: var(--shadow-xs);
  --shadow-sm: var(--shadow-sm);
  --shadow: var(--shadow);
  --shadow-md: var(--shadow-md);
  --shadow-lg: var(--shadow-lg);
  --shadow-xl: var(--shadow-xl);
  --shadow-2xl: var(--shadow-2xl);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans), Arial, Helvetica, sans-serif;
}
